<h2 class="title"><%= Rinku.auto_link(session.reason).html_safe %> <%= sensitive_session_decoration(session) %></h2>
<h3 class="subtitle">by <%= session.user.username %>
  <br> <%= format_date_and_time(session.created_at) %></h3>

<% if session.audits.any? %>
  <ul class="mb-6">
    <% session.audits.except(&:new_record?).each do |audit| %>
      <li> <%= audit.status.humanize %>
        by <%= auditor_name_for(audit.auditor) %>
        on <%= format_date_and_time(audit.created_at) %>
      </li>
    <% end %>
  </ul>
<% end %>
